:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    overflow: auto;

    .retro-content {
        .header {
            width: calc(100% - 1rem);
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            background-color: var(--color-primary-lightest);
            border-radius: var(--border-radius-large);

            .retro-text {
                text-align: left;
                line-height: 1.5rem;
            }

            .avatar {
                border-radius: 100px;
                width: 75px;
            }
        }

        > .retro-button {
            margin-top: 1rem;
        }
    }
}
