:host {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    overflow: hidden;
    gap: 0.5rem;

    &.expanded {
        .content {
            height: fit-content;
        }

        .header {
            app-button-icon {
                transform: rotate(180deg);
            }
        }
    }

    .header {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        background-color: var(--color-primary-lightest);
        color: var(--color-primary);
        border-radius: var(--border-radius);
        transition: var(--transition-time) ease;

        >.retro-subtitle {
            background-color: unset;
            color: unset;
            margin-top: unset;
            margin-bottom: unset;
        }

        app-button-icon {
            transition: var(--transition-time) ease;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 0px;
        overflow: hidden;
        transition: max-height var(--transition-time) ease-in-out;
    }
}
