:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    overflow: auto;

    .retro-button {
        margin-bottom: 0.5rem;
        justify-content: space-between;
    }

    .retro-hint {
        text-align: left;
    }
}
