:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;

    .riders-list {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.5rem 0;

        .rider {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            padding: 0.1rem 0.5rem;
            justify-content: space-between;
            font-size: var(--text-standard);
            border-radius: var(--border-radius);

            &.active {
                background-color: var(--color-tertiary-lightest);
            }
        }
    }

    .events-list {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.5rem 0;

        .event {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            padding: 0.5rem;
            justify-content: space-between;
            font-size: var(--text-standard);
            border-radius: var(--border-radius);
            border: 1px solid var(--color-primary);
        }
    }
}
