:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;

    .riders-list {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.5rem 0;

        .rider {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            padding: 0.1rem 0.5rem;
            justify-content: space-between;
            font-size: var(--text-standard);
            border-radius: var(--border-radius);

            &.active {
                background-color: var(--color-tertiary-lightest);
                color: var(--color-tertiary);
            }
        }
    }

    .retro-item {
        justify-content: flex-start;
        .name {
            flex: 1 1 auto;
        }

        .badge {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.1rem 0.4rem;
            border-radius: var(--border-radius-large);
            font-size: var(--text-mini);

            .icon {
                scale: 0.7;
            }
        }

        .type {
            font-size: var(--text-small);
            justify-content: flex-end;
            width: 90px;
        }
    }
}
