canvas#game {
    max-width: 100dvw;
    max-height: 100dvh;
}

.retro-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    height: 40px;
    font-size: var(--text-standard);
    font-family: "Kode mono", monospace;
    text-align: center;
    border-radius: var(--border-radius-large);
    cursor: pointer;
    transition: var(--transition-time) ease-in-out;
    border: 0px;

    > .material-symbols-outlined {
        margin-right: 0.5rem;
    }

    &.outline {
        background-color: transparent;
        border: 1px solid var(--color-tertiary);
        color: var(--color-tertiary);

        &:hover:not([disabled]) {
            background-color: var(--color-tertiary-lightest);
        }
    }

    background-color: var(--color-primary);
    color: var(--color-surface);

    &.placeholder {
        margin-top: 1rem;
    }

    &.tertiary {
        background-color: var(--color-tertiary);
        color: var(--color-surface);

        &:hover:not([disabled]) {
            background-color: var(--color-tertiary-hover);
        }
    }

    &.error {
        background-color: var(--color-error);
        color: var(--color-surface);

        &:hover:not([disabled]) {
            background-color: var(--color-error-darkest);
        }
    }

    &.button-price {
        text-align: left;
        font-size: 0.8rem;
        justify-content: space-between;

        .badge-price {
            display: flex;
            width: 50px;
            padding: 0.3rem;
            justify-content: flex-end;
            font-size: var(--text-small);
            color: var(--color-surface);
            background-color: var(--color-primary);
            border-radius: var(--border-radius);
        }
    }

    &:hover:not([disabled]) {
        background-color: var(--color-primary-hover);
    }

    &[disabled] {
        background-color: var(--color-disabled-lightest);
        color: var(--color-disabled);
        cursor: initial;
    }
}

.retro-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
    gap: 0.5rem;
}

.retro-footer {
    display: flex;
    flex: 1 0 auto;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 100%;
}

.retro-title {
    font-size: var(--text-title);
    z-index: 3;
    margin: 0;
    margin-top: 0.5rem;
    color: var(--color-primary);
    font-weight: 500;
    position: sticky;
    top: 0;
    background-color: var(--color-surface);

    &.placeholder {
        color: var(--color-tertiary);
        text-align: center;
    }
}

.retro-subtitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--text-subtitle);
    color: var(--color-primary);
    font-weight: 500;
    position: sticky;
    top: 24px;
    background-color: var(--color-primary-lightest);
    padding: 0.5rem 0.25rem;
    border-radius: var(--border-radius);
    z-index: 2;
    

    .alternative {
        cursor: pointer;
        transition: color ease-in-out var(--transition-time);

        &:not(:first-child) {
            border-left: 1px solid var(--color-tertiary);
            padding-left: 0.5rem;
            font-size: var(--text-small);
        }

        &:not(.active) {
            color: var(--color-tertiary-light);
            font-weight: 300 !important;
        }
    }

    &.error {
        color: var(--color-error);
    }
}

.retro-text {
    padding: 0.25rem;
    font-size: var(--text-standard);
    color: var(--color-primary);
    font-weight: 400;

    ul, p {
        margin: 0;
    }

    &.justified {
        text-align: justify;
    }

    &.placeholder {
        text-align: center;
    }

    &.tertiary {
        color: var(--color-tertiary);
    }

    &.error {
        color: var(--color-error);
    }
}

.retro-hint {
    font-size: var(--text-small);
    color: var(--color-primary-light);
    text-align: right;
}

.retro-link {
    color: var(--color-tertiary);
    font-weight: 500;
}

.retro-placeholder-image {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    img {
        fill: var(--color-tertiary);
        color: var(--color-tertiary);
    }

    .icon {
        color: var(--color-tertiary);
        scale: 1.5;
    }
}

.retro-placeholder {
    font-size: var(--text-small);
    padding: 1rem 0.5rem;
    text-align: center;
    color: var(--color-tertiary-light);

    &.fill {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}

.retro-form-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.retro-data-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--text-standard);
    gap: 0.5rem;

    .label {
        display: flex;
        padding: 0 0.25rem;
    }

    .value {
        display: flex;
        flex: 1 1 auto;
        color: var(--color-tertiary);
    }
}

.retro-form-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--text-standard);
    gap: 0.5rem;

    &.invalid {
        .label {
            color: var(--color-error);
            font-weight: 500;
        }

        .retro-input {
            color: var(--color-error);
            border-color: var(--color-error);
        }
    }

    .label {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.25rem;
    }

    select,
    input {
        display: flex;
        flex: 1 1 auto;
        padding: 0 0.5rem;
    }

    select {
        min-width: 150px;
        max-width: 50%;
    }

    input {
        padding-inline: 1rem;
        min-width: calc(150px - 2rem);
        max-width: calc(50% - 2rem);

        &[type="number"] {
            min-width: 75px;
            max-width: 25%;
        }

        &[type="datetime-local"] {
            max-width: calc(60% - 2rem);
            width: calc(250px - 2rem);
        }
    }
}

.retro-input {
    font-size: var(--text-standard);
    border-radius: var(--border-radius-large);
    border-color: var(--color-primary);
    color: var(--color-primary);
    font-family: var(--text-font-family);
    height: 40px;
    padding: 0 0.5rem;
    outline: none;
    border: 1px solid;

    &[type="number"] {
        text-align: right;
    }
}

.retro-command {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: var(--text-small);
    color: var(--color-text);
    padding: 0.2rem;

    span {
        color: var(--color-tertiary);
        font-weight: 500;
    }
}

.retro-items-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
    padding: 0.5rem 0;

    &.no-scrollable {
        overflow-y: unset;
    }

    .retro-item {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        border: 0px;
        border-radius: var(--border-radius);
        font-size: var(--text-standard);
        color: var(--color-surface);
        background-color: var(--color-primary);
        justify-content: space-between;
        align-items: center;
        transition: var(--transition-time) ease-in-out;

        &:hover {
            background-color: var(--color-primary-hover);
        }

        &.tertiary {
            color: var(--color-surface);
            background-color: var(--color-tertiary);

            &:hover {
                background-color: var(--color-tertiary-hover);
            }
        }

        &.inactive,
        &.planned {
            opacity: 0.8;
            background-color: var(--color-primary-lightest);
            color: var(--color-primary-light);
        }

        .icon {
            font-size: var(--icon-small);
        }

        > div {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}

.retro-buttons-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.retro-ui-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;

    .retro-dialog {
        display: flex;
        pointer-events: all;
        flex-direction: column;
        overflow-y: auto;
        width: calc(100% - 2rem);
        border-radius: var(--border-radius);
        padding: 1rem;
        background-color: var(--color-primary-lightest);
        color: var(--color-primary-darkest);
        opacity: 0.95;
        transition: var(--transition-time) ease;
        gap: 0.5rem;

        &.tertiary {
            background-color: var(--color-tertiary);
            color: var(--color-surface);
        }

        &.error {
            background-color: var(--color-error-lightest);
            color: var(--color-error-darkest);

            .retro-title,
            .retro-text {
                color: var(--color-error-darkest);
            }
        }

        .retro-title {
            margin-top: 0;
            background-color: inherit;
        }

        .retro-subtitle {
            background-color: inherit;
        }

        .retro-button {
            margin-top: 1rem;
        }

        .objective {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}

.touch-zone {
    position: absolute;
    pointer-events: none;
    width: 40%;
    height: 60%;
    top: 20%;
    background-color: var(--color-tertiary-lightest);
    border-radius: 100px;
    opacity: 0.2;

    &.left {
        left: 5%;
        background-color: var(--color-primary-lightest);
    }

    &.right {
        right: 5%;
        background-color: var(--color-tertiary-lightest);
    }

    &.bottom {
        background-color: var(--color-error-lightest);
        top: 82%;
        height: 16%;
        width: 90%;
        left: 5%;
    }
}

.retro-medal {
    aspect-ratio: 1;
    height: 18px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    border-radius: 100%;
    line-height: 18px;
    background-color: var(--color-gold);
    color: var(--color-primary);
    margin-left: 0.25rem;

    &.silver {
        background-color: var(--color-silver);
    }

    &.bronze {
        background-color: var(--color-bronze);
    }
}

.loading-placeholder {
    display: flex;
    position: absolute;
    padding: 0 1rem;
    width: calc(100% - 2rem);
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--color-tertiary);
    font-size: var(--text-title);
    z-index: 10;
}

span.tertiary {
    color: var(--color-tertiary);
}
