<app-toolbar>
    <ng-container ngProjectAs="left-actions">
        <app-button-icon
            icon="arrow_back"
            routerLink="/login"
        ></app-button-icon>
    </ng-container>
</app-toolbar>
<div class="retro-content">
    @if(token) { @if(passwordChanged && passwordChanged()) {
    <div class="retro-placeholder-image">
        <img src="assets/icons/password.svg" />
    </div>
    <div class="retro-title placeholder">Password updated</div>
    <div class="retro-text placeholder">
        Password updated successfully! You're all set to get back on the
        mountain and enjoy the ride.
    </div>
    <button class="retro-button placeholder" routerLink="/login">
        Go to login
    </button>
    } @else {
    <div class="retro-title">Set your new password</div>
    <div class="form-container">
        <div class="retro-form-line">
            <div class="label">Password</div>
            <input
                class="retro-input"
                type="password"
                [formControl]="password"
                placeholder="6 to 16 char."
            />
        </div>
        <div class="retro-form-line">
            <div class="label">Confirm password</div>
            <input
                class="retro-input"
                type="password"
                [formControl]="passwordConfirm"
                placeholder="6 to 16 char."
            />
        </div>
        <button
            class="retro-button"
            [disabled]="
                password.invalid ||
                passwordConfirm.invalid ||
                password.value !== passwordConfirm.value
            "
            (click)="changePassword()"
        >
            Save your new password
        </button>
        @if(password.valid && passwordConfirm.valid && password.value !==
        passwordConfirm.value ) {
        <div class="retro-text error">Passwords don’t match. Try again.</div>
        } @if(passwordChanged && !passwordChanged()) {
        <div class="retro-text error">
            Something went wrong while updating your password. Please try again.
        </div>
        }
    </div>
    } } @else { @if(mailSent()) {
    <div class="retro-placeholder-image">
        <img src="assets/icons/mailSent.svg" />
    </div>
    <div class="retro-title placeholder">Mail sent</div>
    <div class="retro-text placeholder">
        Check your inbox for a message from us. Follow the instructions in the
        email to reset your password and get back on track!
    </div>
    } @else {
    <div class="retro-title">Reset your password</div>
    <div class="retro-text">
        Forgot your password? No worries, we’ve got you covered!
    </div>
    <div class="retro-text">
        Simply enter your email below and click the button. You’ll receive an
        email shortly with instructions to reset your password and create a new
        one.
    </div>
    <div class="form-container">
        <div class="retro-form-line">
            <div class="label">Email</div>
            <input
                class="retro-input"
                type="email"
                [formControl]="email"
                placeholder="Profile email"
            />
        </div>
        <button
            class="retro-button"
            [disabled]="email.invalid"
            (click)="sendMail()"
        >
            Send password reset mail
        </button>
    </div>
    } }
</div>
