<app-toolbar>
    <ng-container ngProjectAs="left-actions">
        <app-button-icon icon="close" (click)="goBack()"></app-button-icon>
    </ng-container>
</app-toolbar>
<div class="retro-content">
    <div class="retro-title">Settings</div>
    <div class="retro-text">
        Settings are applied on the whole game whether you play local or online.
    </div>
    <div class="setting-item">
        <div class="name">Sound</div>
        <div class="value">
            <app-checkbox [(checked)]="settings().sound"></app-checkbox>
        </div>
    </div>
    <div class="setting-item">
        <div class="name">Spectators</div>
        <div class="value">
            <app-checkbox [(checked)]="settings().spectators"></app-checkbox>
        </div>
    </div>
    <div class="setting-item" [class.disabled]="!settings().spectators">
        <div class="name">Spectators animation</div>
        <div class="value">
            <app-checkbox
                [(checked)]="settings().spectatorsAnimation"
            ></app-checkbox>
        </div>
    </div>
    <div class="setting-item">
        <div class="name">Ghosts</div>
        <div class="value">
            <app-checkbox [(checked)]="settings().ghosts"></app-checkbox>
        </div>
    </div>
    <div class="setting-item">
        <div class="name">Particles</div>
        <div class="value">
            <app-checkbox [(checked)]="settings().particles"></app-checkbox>
        </div>
    </div>
    @if(authService.isAuth()) {
    <div class="retro-subtitle">Profile</div>
    <div class="retro-text">
        Logged as <a class="retro-link">{{ authService.getUser()?.name }}</a>
    </div>
    <button class="retro-button tertiary" (click)="authService.logout()">
        Logout
    </button>
    }
    <div class="retro-footer">
        <button class="retro-button error" (click)="restore()">
            Erase content and restore
        </button>
    </div>
</div>
