<app-toolbar [hideSettings]="true">
    <ng-container ngProjectAs="left-actions">
        <app-button-icon icon="close" (click)="goBack()"></app-button-icon>
    </ng-container>
</app-toolbar>
<div class="retro-content">
    <div class="retro-title">Settings</div>
    <div class="retro-text">
        Settings are applied on the whole game whether you play local or online.
    </div>
    <div class="retro-subtitle">General</div>
    <div class="setting-item">
        <div class="name">Sound</div>
        <div class="value">
            <app-checkbox [(checked)]="settings().sound"></app-checkbox>
        </div>
    </div>
    <div class="retro-subtitle">Interface</div>
    <div class="setting-item">
        <div class="name">Touch zones visibility</div>
        <div class="value">
            <app-checkbox [(checked)]="settings().touchZones"></app-checkbox>
        </div>
    </div>
    <div class="retro-subtitle">Game details</div>
    <div class="setting-item">
        <div class="name">Spectators</div>
        <div class="value">
            <app-checkbox [(checked)]="settings().spectators"></app-checkbox>
        </div>
    </div>
    <div class="setting-item" [class.disabled]="!settings().spectators">
        <div class="name">Spectators animation</div>
        <div class="value">
            <app-checkbox
                [(checked)]="settings().spectatorsAnimation"
            ></app-checkbox>
        </div>
    </div>
    <div class="setting-item">
        <div class="name">Ghosts</div>
        <div class="value">
            <app-checkbox [(checked)]="settings().ghosts"></app-checkbox>
        </div>
    </div>
    <div class="setting-item">
        <div class="name">Particles</div>
        <div class="value">
            <app-checkbox [(checked)]="settings().particles"></app-checkbox>
        </div>
    </div>
    <div class="setting-item">
        <div class="name">Decorations</div>
        <div class="value">
            <app-checkbox [(checked)]="settings().decorations"></app-checkbox>
        </div>
    </div>
    <div class="retro-subtitle">Slalom tracks</div>
    <div class="setting-item">
        <div class="name">Gate side indicators</div>
        <div class="value">
            <app-checkbox
                [(checked)]="settings().sideIndicators"
            ></app-checkbox>
        </div>
    </div>
    <div class="retro-subtitle">Erase all game datas</div>
    <div class="retro-text error">
        This will erase all settings, local tracks, records, and ghosts,
        restoring the game to its original state. This action cannot be undone.
    </div>
    @if(!resetAsked()) {
    <button class="retro-button error" (click)="resetAsked.set(true)">
        <span class="material-symbols-outlined">delete</span>
        Erase all datas and reset
    </button>
    } @else {
    <button class="retro-button error" (click)="restore()">
        <span class="material-symbols-outlined">delete_forever</span>
        Press again to confirm reset
    </button>
    }
</div>
<div class="retro-footer"></div>
