:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;

    .retro-text {
        margin-bottom: 1rem;
    }

    .setting-item {
        display: flex;
        height: 40px;
        justify-content: space-between;
        font-size: var(--text-subtitle);

        &.disabled {
            opacity: 0.5;

            app-checkbox {
                display: none;
            }
        }
    }
}
