:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;

    .profile-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        background-color: var(--color-primary-lightest);
        color: var(--color-primary);
        align-items: center;
        border-radius: var(--border-radius-large);

        .name {
            font-size: var(--text-big);
            font-weight: 500;
        }

        .rides,
        .email {
            font-size: var(--text-small);
        }

        .account-badge {
            font-size: var(--text-small);
            font-weight: 500;
            color: var(--color-surface);
            background-color: var(--color-primary);
            padding: 0.5rem 1rem;
            border-radius: var(--border-radius);
        }
    }

    .membership-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-tertiary-lightest);
        border-radius: var(--border-radius-large);
        color: var(--color-tertiary);
        padding: 1rem;
        gap: 0.5rem;

        > .icon {
            scale: 1.5;
            margin-bottom: 0.5rem;
        }

        > .label {
            font-size: 1.5rem;
        }

        > .expire {
            font-size: 0.7rem;
        }
    }
}
