<app-toolbar>
    <ng-container ngProjectAs="left-actions">
        <app-button-icon icon="close" (click)="goBack()"></app-button-icon>
    </ng-container>
</app-toolbar>
<div class="retro-content">
    <div class="retro-title">Profile</div>
    <div class="profile-card" [class.premium]="user!.premium">
        <div class="name">{{ user?.name }}</div>
        <div class="account-badge">{{ user?.premium ? 'Premium rider' : 'Standard rider' }}</div>
    </div>
    @if(!user?.premium) {
        <button class="retro-button" disabled>Upgrade to premium</button>
        <div class="retro-text secondary">Profile upgrade will soon be available to all riders</div>
    }
</div>
<div class="retro-footer">
    <button class="retro-button" (click)="logout()">
        Logout
    </button>
</div>
