:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;

    .controllers-list {
        button {
            margin-top: 0.5rem;

            .material-symbols-outlined {
                margin-right: 0.5rem;
            }
        }
    }
}
