<app-toolbar>
    <ng-container ngProjectAs="left-actions">
        <app-button-icon
            icon="arrow_back"
            routerLink="/profile"
        ></app-button-icon>
    </ng-container>
</app-toolbar>
<div class="retro-content">
    <div class="retro-title">Upgrade to Premium</div>
    <div class="retro-text">
        Elevate your RetroSki experience and unlock exclusive features!
    </div>
    <div class="retro-text">
        Host unforgettable rides, organize custom events, design unique tracks,
        and become an integral part of the RetroSki community.
    </div>
    <div class="retro-subtitle">Why upgrade to Premium?</div>
    <div class="retro-text">
        <ul>
            <li>Create and manage your own private servers and events.</li>
            <li>
                Organize events for friends or communities, and share memorable
                moments together.
            </li>
            <li>Build, save, and share custom tracks across servers.</li>
            <li>
                Support RetroSki’s ad-free policy and contribute to future
                development.
            </li>
        </ul>
    </div>
    <div class="retro-subtitle">Join the Premium Community</div>
    <div class="retro-text">
        Choose from three flexible Premium membership plans to suit your needs:
    </div>
    <div class="plans-container">
        <button class="retro-button tertiary button-price">
            Explorer: 2-Month Premium plan
            <span class="badge-price">2 CHF</span>
        </button>
        <button class="retro-button tertiary button-price">
            Pro rider: 1-Year Premium plan
            <span class="badge-price">10 CHF</span>
        </button>
        <button class="retro-button tertiary button-price">
            Legend: Lifetime Premium plan
            <span class="badge-price">20 CHF</span>
        </button>
    </div>
</div>
