:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    overflow: auto;

    .subtitle {
        color: var(--color-primary-light);
        font-size: var(--text-small);
        border-radius: var(--border-radius);
    }

    ul {
        margin: 0.5rem 0;
        font-size: var(--text-small);
        color: var(--color-primary-light);
        padding-inline-start: 2rem;
        ::marker {
            color: var(--color-primary-light);
        }
    }

    .retro-text {
        font-size: var(--text-small);
    }

    .retro-hint {
        text-align: left;
    }

    .retro-link {
        color: var(--color-primary);
    }
}
