<app-toolbar>
    <ng-container ngProjectAs="left-actions">
        <app-button-icon icon="arrow_back" routerLink="/"></app-button-icon>
    </ng-container>
</app-toolbar>
<div class="retro-content">
    @if(!serverAvailable()) {
    <div class="retro-placeholder fill">
        Unfortunately online services are not available, please try again later.
    </div>
    } @else {
    <div class="retro-title">Ride online</div>
    <div class="retro-text">
        Welcome to RetroSki online community, the home place to share rides with
        your friends and challenge riders from all over the world!
    </div>
    <app-expander title="Login" [expanded]="true">
        <form [formGroup]="loginForm">
        <div class="retro-form-section">
            <div
                class="retro-form-line"
                [class.invalid]="
                    loginForm.get('email')?.invalid &&
                    !loginForm.get('email')?.pristine
                "
            >
                <div class="label">Email</div>
                <input
                    class="retro-input"
                    type="email"
                    formControlName="email"
                    placeholder="Valid email"
                />
            </div>
            <div
                class="retro-form-line"
                [class.invalid]="
                    loginForm.get('password')?.invalid &&
                    !loginForm.get('password')?.pristine
                "
            >
                <div class="label">Password</div>
                <input
                    class="retro-input"
                    type="password"
                    formControlName="password"
                    placeholder="6 to 16 char."
                />
            </div>
            <div class="retro-hint">
                <a class="retro-link" routerLink="/reset-password">
                    Forgot password ?
                </a>
            </div>
            @if(loginError()) {
            <div class="retro-text error">{{ loginError() }}</div>
            }
            <button
                class="retro-button tertiary"
                [disabled]="loginForm.invalid"
                (click)="login()"
            >
                <span class="material-symbols-outlined">login</span>
                Login
            </button>
        </div>
    </form>
    </app-expander>
     <app-expander title="Create an account">
        <form [formGroup]="registerForm">
            <div class="retro-form-section">
                <div
                    class="retro-form-line"
                    [class.invalid]="
                        registerForm.get('name')?.invalid &&
                        registerForm.get('name')?.touched
                    "
                >
                    <div class="label">Username</div>
                    <input
                        class="retro-input"
                        type="text"
                        formControlName="name"
                        placeholder="3 to 16 char."
                    />
                </div>
                <div
                    class="retro-form-line"
                    [class.invalid]="
                        registerForm.get('email')?.invalid &&
                        !registerForm.get('email')?.pristine
                    "
                >
                    <div class="label">Email</div>
                    <input
                        class="retro-input"
                        type="email"
                        formControlName="email"
                        placeholder="Valid email"
                    />
                </div>
                <div
                    class="retro-form-line"
                    [class.invalid]="
                        registerForm.get('password')?.invalid &&
                        !registerForm.get('password')?.pristine
                    "
                >
                    <div class="label">Password</div>
                    <input
                        class="retro-input"
                        type="password"
                        formControlName="password"
                        placeholder="6 to 16 char."
                    />
                </div>
                @if(registerError()) {
                <div class="retro-text error">{{ registerError() }}</div>
                }
                <button
                    class="retro-button tertiary"
                    [disabled]="registerForm.invalid"
                    (click)="register()"
                >
                    <span class="material-symbols-outlined">person_add</span>
                    Register
                </button>
            </div>
        </form>
     </app-expander>
    }
</div>
