:host {
    display: flex;
    position: relative;
    justify-content: center;
    width: 600px;
    height: 1000px;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--color-surface);

    app-notification {
        position: fixed;
        top: 10dvh;
    }

    .retro-dialog {
        max-width: 80%;
        border-radius: var(--border-radius-large);
    }
}
