:host {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 1000px;
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--color-surface);

    app-notification {
        position: absolute;
        top: 10dvh;
    }
}
