:host {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    font-size: var(--text-standard);
    padding: 0.1rem 0.5rem;
    border-radius: var(--border-radius);

    .ride-label,
    .name,
    .ride-position,
    .time,
    .track {
        display: flex;
        flex: 0 0 auto;
        text-wrap: nowrap;
        overflow: hidden;

        &.ride-label {
            width: 75px;
        }

        &.name {
            white-space: nowrap;
            text-overflow: ellipsis;
            flex: 1 1 auto;
            display : block;
        }

        &.time {
            width: 70px;
            justify-content: flex-end;
        }
    }

    &.current {
        background-color: var(--color-tertiary-lightest);
        color: var(--color-tertiary);
    }
}
