<div class="retro-content">
    <img class="logo" src="./assets/logos/logo.png" />
    <div class="title">Welcome!</div>
    <div class="subtitle">
        Join us on the mountain to experience thrilling 2D-generated alpine ski
        tracks.<br /><br />
        Enjoy the ride or challenge your friends on some of the most demanding
        tracks!
    </div>
</div>
<div class="retro-footer">
    <div class="actions-container">
        <button class="retro-button" routerLink="/learning">
            How to play ?
        </button>
        <button class="retro-button" routerLink="/ride-local">
            Ride local
        </button>
        <button class="retro-button" routerLink="/login">Ride online</button>
    </div>
</div>
