:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    overflow: auto;

    .retro-content {
        align-items: center;
        flex: 1 0 auto;
        justify-content: center;

        .logo {
            margin: 2dvh 0;
            width: 170px;
            height: 170px;
        }

        .title {
            font-size: var(--text-title);
            color: var(--color-text);
            margin-bottom: 3dvh;
        }

        .subtitle {
            font-size: var(--text-standard);
            color: var(--color-tertiary);
            text-align: center;
            max-width: var(--field-max-width);
            padding-bottom: 1rem;
        }
    }

    .actions-container {
        display: flex;
        flex: 1 1 auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
}
