<app-toolbar>
    <div ngProjectAs="left-actions">
        <app-button-icon icon="close"></app-button-icon>
    </div>
    <div ngProjectAs="right-actions">
        <app-button-icon icon="settings"></app-button-icon>
    </div>
</app-toolbar>
<div class="content">
    <div class="retro-title">Introduction</div>
    <div class="retro-text">
        Retroski is a small game development project to peacefully ride the
        mountain and challenge your friends on randomly generated 2D alpine ski
        tracks.
    </div>
    <div class="retro-title">Game modes</div>
    <div class="retro-subtitle">Ride local</div>
    <div class="retro-text">
        Choose one of the existing track or generate a custom one and keep track
        of best rides on this device. This mode can also be played with your
        friends by sharing the device on each ride.
    </div>
    <div class="retro-subtitle">Ride online</div>
    <div class="retro-text">
        Create or join a server with your friends to share tracks and challenge
        your best rides.
    </div>
</div>
<div class="footer">
    <div class="stepper">
        <app-button-icon icon="chevron_left"></app-button-icon>
        <span>Step 1/4</span>
        <app-button-icon icon="chevron_right"></app-button-icon>
    </div>
</div>
