<app-toolbar>
    <ng-container ngProjectAs="left-actions">
        <app-button-icon icon="close" routerLink="/"></app-button-icon>
    </ng-container>
</app-toolbar>
<div class="retro-content">
    @if(currentPage() === 1) {
    <ng-container *ngTemplateOutlet="page_1"></ng-container>
    } @else if (currentPage() === 2) {
    <ng-container *ngTemplateOutlet="page_2"></ng-container>
    } @else if (currentPage() === 3) {
    <ng-container *ngTemplateOutlet="page_3"></ng-container>
    } @else if (currentPage() === 4) {
    <ng-container *ngTemplateOutlet="page_4"></ng-container>
    }
</div>
<div class="retro-footer">
    <div class="stepper">
        <app-stepper
            [(currentStep)]="currentPage"
            [totalStep]="totalPage"
        ></app-stepper>
    </div>
</div>

<ng-template #page_1>
    <div class="retro-title">Game modes</div>
    <div class="retro-subtitle">Ride local</div>
    <div class="retro-text">
        Choose from existing tracks or generate a custom one, and keep track of
        your best rides on this device.
    </div>
    <div class="retro-text">
        You can also play with up to 4 friends by taking turns on the same
        device.
    </div>
    <div class="retro-subtitle">Ride Online</div>
    <div class="retro-text">
        Join or create a server with your friends to share tracks and compete
        for the best times!
    </div>
    <div class="retro-text">
        Standard profiles allow you to join servers, while premium profile
        unlock the ability to create and manage your own servers.
    </div>
</ng-template>

<ng-template #page_2>
    <div class="retro-title">Controls</div>
    <div class="retro-text">
        Retroski is easy to pick up, with only a few controls, but it’s
        challenging to master!
    </div>
    <div class="retro-text">
        You can use various devices to ride the mountain:
    </div>
    <div class="retro-title">Devices</div>
    <app-expander title="Gamepad (recommended)" [expanded]="true">
        <div class="retro-command">
            <img src="./assets/icons/gamepad_a.png" alt="gamepad A" /> Start
            riding
        </div>
        <div class="retro-command">
            <img
                src="./assets/icons/gamepad_left_stick.png"
                alt="gamepad left stick"
            />
            Carve left / right
        </div>
        <div class="retro-command">
            <img src="./assets/icons/gamepad_b.png" alt="gamepad B" /> Brake /
            slide
        </div>
        <div class="retro-command">
            <img src="./assets/icons/gamepad_select.png" alt="gamepad select" />
            Leave the race
        </div>
        <div class="retro-command">
            <img
                src="./assets/icons/gamepad_left_bumper.png"
                alt="gamepad left bumper"
            />
            Toggle ghosts
        </div>
    </app-expander>
    <app-expander title="Keyboard">
        <div class="retro-command">
            <img
                src="./assets/icons/keyboard_arrow_up.png"
                alt="keyboard arrow up"
            />
            Start riding
        </div>
        <div class="retro-command">
            <img
                src="./assets/icons/keyboard_arrow_left.png"
                alt="keyboard arrow left"
            />
            Carve left
        </div>
        <div class="retro-command">
            <img
                src="./assets/icons/keyboard_arrow_right.png"
                alt="keyboard arrow right"
            />
            Carve right
        </div>
        <div class="retro-command">
            <img
                src="./assets/icons/keyboard_space.png"
                alt="keyboard space bar"
            />
            Brake / slide
        </div>
        <div class="retro-command">
            <img src="./assets/icons/keyboard_exit.png" alt="keyboard ESC" />
            Leave the race
        </div>
        <div class="retro-command">
            <img src="./assets/icons/keyboard_g.png" alt="keyboard G" /> Toggle
            ghosts
        </div>
        <div class="retro-command">
            <img src="./assets/icons/keyboard_d.png" alt="keyboard D" /> Toggle
            debug mode
        </div>
    </app-expander>
    <app-expander title="Touch device">
        <div class="retro-command"><span>Touch screen</span> Start riding</div>
        <div class="retro-command"><span>Touch left</span> Carve left</div>
        <div class="retro-command"><span>Touch right</span> Carve right</div>
        <div class="retro-command"><span>Touch bottom</span> Brake / slide</div>
    </app-expander>
</ng-template>

<ng-template #page_3>
    <div class="retro-title">Game setup</div>
    <div class="retro-text">
        Access the game setup by clicking the icon in the top-right corner.
        Here, you can customize various settings:
        <ul>
            <li>Sounds</li>
            <li>Ghosts</li>
            <li>Spectators</li>
            <li>Particles (may affect performance)</li>
            <li>Decorations</li>
        </ul>
        You can also restore the game to its default settings and erase all
        data.
    </div>
    <div class="retro-title">Ghosts</div>
    <div class="retro-text">
        Multiple ghosts can be displayed simultaneously, allowing you to track
        different runs at once.
    </div>
    <div class="retro-subtitle">Ghosts on track</div>
    <div class="retro-command">
        <img
            src="./assets/icons/global_record_ghost.png"
            alt="global record ghost"
        />
        Global best
    </div>
    <div class="retro-command">
        <img
            src="./assets/icons/event_record_ghost.png"
            alt="event record ghost"
        />
        Event best
    </div>
</ng-template>

<ng-template #page_4>
    <div class="retro-title">Quick tips</div>
    <div class="retro-subtitle">Stay on the track !</div>
    <div class="retro-text">
        Don’t miss a gate, or you’ll receive a 3-second penalty.
    </div>
    <div class="retro-subtitle">Track styles</div>
    <div class="retro-text">
        Retroski simulates the four alpine skiing track styles, each with unique
        track designs and rider abilities.
    </div>
    <div class="retro-subtitle">Performances</div>
    <div class="retro-text">
        RetroSki is designed to run smoothly on any modern device with an
        updated browser. If you encounter performance issues, try reloading the
        game first. For further performance improvements, consider disabling
        particles and other game objects in the game settings.
    </div>
    <div class="retro-subtitle">Competition</div>
    <div class="retro-text">
        RetroSki offers a platform for friendly competition and memorable
        moments with your friends.
    </div>
    <div class="retro-text">
        Keep in mind that online cheating is possible, as timing mechanics
        depend on device performance. Make sure to ride with trustworthy
        companions!
    </div>
    <div class="retro-subtitle">Have fun and keep riding !</div>
    <div class="retro-text">
        It’s time to hit the mountain and have fun! Be careful not to bump into
        too many spectators along the way. :)
    </div>
    <button class="retro-button" routerLink="/">Back to home</button>
</ng-template>
