<app-toolbar>
    <ng-container ngProjectAs="left-actions">
        <app-button-icon icon="arrow_back" (click)="goBack()"></app-button-icon>
    </ng-container>
</app-toolbar>
<div class="retro-content">
    <div class="retro-title">Track manager</div>
    @if(managerType === 'local') {
    <div class="retro-subtitle">Build a new local track</div>
    <div class="retro-text">
        This new track will be stored on your device and will be available for
        local events
    </div>
    } @if(managerType === 'online') {
    <div class="retro-subtitle">Build a new online track</div>
    <div class="retro-text">
        This new track will be stored on the server and will be available for
        online events
    </div>
    }
    <div class="retro-form-section" [formGroup]="form">
        <div
            class="retro-form-line"
            [class.invalid]="form.invalid && !form.pristine"
        >
            <div class="label">Name</div>
            <input
                type="text"
                class="retro-input"
                formControlName="name"
                placeholder="1 to 16 char."
            />
        </div>
        <div class="retro-form-line">
            <div class="label">Style</div>
            <select class="retro-input" formControlName="style">
                <option value="SL">Slalom</option>
                <option value="GS">Giant slalom</option>
                <option value="SG">Super-G</option>
                <option value="DH">Downhill</option>
            </select>
        </div>
        <button
            class="retro-button tertiary"
            [disabled]="form.invalid || trackAlreadyUse()"
            (click)="generateTrack()"
        >
            Build the track
        </button>
        @if(trackAlreadyUse()) {
        <div class="retro-text error">A similar track already exist</div>
        }
    </div>
    <div class="retro-title">
        Existing tracks @if(tracks().length) { ({{ tracks().length }}) }
    </div>
    <div class="tracks-container">
        @for(track of tracks(); track track.id) {
        <div class="track-line">
            <span class="label">{{ track.fullName }}</span>
            <span class="gates">{{ track.gates.length }} gates</span>
            <div class="actions">
                <app-button-icon
                    icon="delete"
                    class="tertiary"
                    (click)="deleteTrack(track)"
                ></app-button-icon>
            </div>
        </div>
        } @if(!tracks().length) {
        <div class="retro-placeholder">No existing track, build one !</div>
        }
    </div>
</div>
