<app-toolbar>
    <div ngProjectAs="left-actions">
        <app-button-icon icon="arrow_back" (click)="goBack()"></app-button-icon>
    </div>
    <div ngProjectAs="right-actions">
        <app-button-icon
            icon="settings"
            routerLink="/settings"
        ></app-button-icon>
    </div>
</app-toolbar>
<div class="retro-content">
    <div class="retro-title">Track manager</div>
    <div class="retro-subtitle">Build a new track</div>
    <div class="retro-text">
        This new track will be stored on your device and will be available for
        local and online events
    </div>
    <div class="retro-form-section" [formGroup]="form">
        <div class="retro-form-line">
            <div class="label">Name</div>
            <input type="text" class="retro-input" formControlName="name" />
        </div>
        <div class="retro-form-line">
            <div class="label">Style</div>
            <select class="retro-input" formControlName="style">
                <option value="SL">Slalom</option>
                <option value="GS">Giant slalom</option>
                <option value="SG">Super-G</option>
                <option value="DH">Downhill</option>
            </select>
        </div>
        <button
            class="retro-button tertiary"
            [disabled]="!form.valid || trackAlreadyUse()"
            (click)="generateTrack()"
        >
            Build the track
        </button>
        @if(trackAlreadyUse()) {
        <div class="retro-text tertiary">A similar track already exist</div>
        }
    </div>
    <div class="retro-title">
        Existing tracks @if(existingTracks()?.length) { ({{
            existingTracks()?.length
        }}) }
    </div>
    <div class="tracks-container">
        @for(track of existingTracks() ?? []; track track.id) {
        <div class="track-line">
            <span class="label">{{ track.fullName }}</span>
            <span class="gates">{{ track.gates.length }} gates</span>
            <div class="actions">
                <app-button-icon
                    icon="delete"
                    class="tertiary"
                    (click)="deleteTrack(track)"
                ></app-button-icon>
            </div>
        </div>
        }
    </div>
</div>
