:host {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    border-radius: 50px;
    color: var(--color-primary);
    cursor: pointer;
    transition: background-color var(--transition-time) ease-in-out;

    &.flipped > span {
        transform: scaleX(-1);
    }

    &.tertiary {
        color: var(--color-tertiary);
        &:hover {
            background-color: var(--color-tertiary-lightest);
        }
    }

    > span {
        font-size: 24px;
    }

    &:hover {
        background-color: var(--color-primary-lightest);
    }
}
