@use "./app/common/scss/variables";
@use "./app/common/scss/components";

html,
body {
    font-family: var(--text-font-family);
    background-color: var(--color-app-background);
    margin: 0;

    .app-container {
        display: flex;
        width: 100dvw;
        height: 100dvh;
        align-items: center;
        justify-content: center;
    }

    ::-webkit-scrollbar {
        width: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--color-surface);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--color-tertiary-lightest);
        border-radius: var(--border-radius);
        cursor: pointer;

        &:hover {
            background: var(--color-tertiary-light);
        }
    }

    touch-action: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
