@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$background: #b0d4dd;
$primary: #4a8291;
$primarySemi: #4c829087;
$accent: #3d3378;
$text: white;
$secondary-text: #cecece;

html body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: $primary;
}

.ui-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: $background;
    overflow: hidden;

    .header {
        img {
            width: 80px;
            height: 80px;
        }

        display: flex;
        width: calc(100% - 4rem);
        align-items: center;
        justify-content: center;
    }

    .hud-container {
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        .actions-toolbar {
            position: absolute;
            right: 0;
            width: 200px;
            padding: 1rem 2rem;
            gap: 1rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: $text;
            z-index: 10;

            #sound-button,
            #sound-mute-button {
                cursor: pointer;
                display: none;
            }
        }

        .dialog {
            display: flex;
            flex-direction: column;
            padding-bottom: 1rem;
            width: calc(100% - 4rem);
            height: calc(100% - 2rem);
            padding: 1rem 2rem;
            border: none;
            color: $text;
            background-color: $primary;

            .dialog-content {
                flex: 1 1 auto;
                padding: 1rem;
            }

            .dialog-actions {
                padding: 1rem;
            }
        }

        #event-setup {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;

            .dialog {
                font-size: 1.3rem;


                .title {
                    margin-bottom: 2rem;
                }

                .dialog-content {
                    font-size: 1.7rem;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    .form-line {
                        display: flex;
                        gap: 1rem;
                        justify-content: space-between;
                        align-items: center;
                        overflow: hidden;

                        .input {
                            display: flex;
                            overflow: hidden;
                        }

                    }
                }
            }

            select,
            input,
            input:active,
            input:focus {
                max-width: 300px;
                font-size: 1.5rem;
                padding: 0.5rem 1rem;
                color: $text;
                background-color: transparent;
                border: 2px solid $text;
                border-radius: 4px;
                outline: none;
            }

        }

        #event-manager {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;

            .dialog {
                font-size: 1.3rem;

                .title {
                    margin-bottom: 0.5rem;
                }

                .dialog-content {
                    display: flex;
                    flex: 1 1 auto;
                    flex-direction: column;
                    justify-content: space-between;

                    .section-title {
                        font-size: 0.9rem;
                        margin-top: 0.5rem;
                    }

                    #last-results-container,
                    #next-races-container,
                    #actual-ranking-container {
                        display: flex;
                        flex-direction: column;
                        max-height: 120px;
                        overflow: auto;
                        border-radius: 5px;
                    }

                    .placeholder {
                        display: flex;
                        font-size: 0.8rem;
                        justify-content: center;
                        padding: 0.5rem;
                        color: $secondary-text;
                    }


                    .header-line,
                    .result-line {
                        &.header-line {
                            display: flex;
                            justify-content: space-between;
                            padding: 0.3rem 1rem;
                            font-size: 0.75rem;
                            color: $secondary-text;
                        }

                        &.result-line {
                            display: flex;
                            justify-content: space-between;
                            padding: 0.3rem 1rem;
                            font-size: 0.75rem;
                            background-color: #ffffff29;

                            &.next,
                            &.first {
                                background-color: #6aff9091;
                            }
                        }

                        div {
                            min-width: 100px;
                            max-width: 100px;
                            overflow: hidden;

                            &.winner {
                                font-weight: bold;
                                color: #6aff9091;
                            }
                        }
                    }

                    button {
                        margin-top: 1rem;
                    }


                }
            }
        }

        button {
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 400;
            border-radius: 10px;
            width: 100%;
            padding: 1rem;
            color: $text;
            border: 0;
            background-color: $accent !important;
        }

        .game-container {
            width: 800px;
            max-width: 100vw;
            height: 600px;
            max-height: 100vh;

            .start-button {
                font-weight: 200;
                border: none;
                background-color: $accent !important;
                font-size: 1.5rem;
                width: 300px;
            }
        }

        #result {
            position: absolute;
            top: 100px;
            left: 0;
            width: 100%;
            padding: 1rem;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            background-color: $primarySemi;

            #position {
                font-size: 4rem;
                color: $text;
            }

            #timing {
                font-size: 2rem;
                font-style: italic;
                color: $text;
            }

            button#back-to-manager {
                margin-top: 1rem;
                font-size: 1.8rem;
                width: 200px;
            }

        }

        #speedometer,
        #timer {
            display: flex;
            width: 90px;
            align-items: center;
            justify-content: end;
            position: absolute;
            bottom: 0;
            color: $primarySemi;
            font-size: 1.1rem;
            padding: 0.25rem 0.5rem;
            height: 40px;
            visibility: hidden;

            &#speedometer {
                left: 0;
            }

            &#timer {
                right: 0;
            }
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        // flex: 1 1 auto;
    }
}

i.fa-solid {
    font-size: 1.2rem;
}

::-webkit-scrollbar {
    width: 0px;
}